GROQ_API_KEY=
MISTRAL_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=

GROQ_MODEL=openai/gpt-oss-120b
MISTRAL_MODEL=mistral-small-latest
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free
GEMINI_MODEL=gemini-2.5-flash
GEMINI_BOOK_SUMMARY_MODEL=gemini-2.5-flash
