GROQ_API_KEY=
GROQ_API_KEY_ALT=
MISTRAL_API_KEY=
OPENROUTER_API_KEY=

GROQ_MODEL=groq/compound
GROQ_ALT_MODEL=groq/compound
MISTRAL_MODEL=mistral-small-latest
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free
GROQ_ROUTINE_DETAILS_MODEL=groq/compound

CEREBRAS_API_KEY=
CEREBRAS_MODEL=llama-3.3-70b
